.search-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 20rem;
}

.search-wrapper input {
  padding-left: 2.5rem;
  width: 100%;
}

.search-wrapper svg {
  position: absolute;
  left: var(--space-sm);
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-medium);
  pointer-events: none;
}
